body {
    font-family: 'Montserrat', sans-serif;
    background-image: url('static/background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    margin: 0;
    color: #333;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.9);
    background-image: url('static/form_background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: relative;
}

header, nav, main, footer {
    margin: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 5px;
}

nav ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
}

nav li {
    display: inline;
    margin-right: 10px;
}

form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

form input, form select { /* Adjusted for select elements */
    width: calc(100% - 12px);
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.input-group {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.input-item {
    flex-basis: calc(33.33% - 10px); /* Adjusted for three items in a row */
    margin-right: 10px;
}

.input-with-icon {
    position: relative;
}

.input-with-icon input[type="date"],
.input-with-icon input[type="time"] {
    padding-right: 30px;
}


.input-with-icon .icon {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    width: 20px; /* Adjust the width of the icon */
    height: 20px; /* Adjust the height of the icon */
    fill: #333;
}

form button {
    width: 48%;
    padding: 10px;
    font-size: 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

form button[type="button"] {
    background-color: #f44336;
}

form select {
    width: calc(100% - 12px);
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 16px;
    display: block;
}


#result {
    margin-top: 20px;
    font-weight: bold;
    font-size: 18px;
    text-align: center;
}
