<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Me</title>
    <link rel="stylesheet" href="css/styles.css"> <!-- Link your existing CSS file -->
    <link rel="stylesheet" href="css/contactStyles.css"> <!-- Link the new CSS file -->
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
</head>

<body>
    <header>
        <nav>
            <ul>
                <li><a href="index.html">Home</a></li>
                <li><a href="about.html">About</a></li>
                <li><a href="contact.html">Contact Me</a></li> <!-- Add this line -->
            </ul>
        </nav>
        <h1>Your Website</h1>
    </header>

    <div class="container">
        <main>
            <h2>Contact Me</h2>

            <div class="contact-info">
                <div class="summary">
                    <img src="css/static/my_picture.jpg" alt="Your Picture">
                    <div class="summary-description">
                        <h3>Summary</h3>
                        <p>
                        <p>Ved Prakash is a seasoned <span style="background-color: #FFFF00;"><strong>Senior Data
                                    Scientist</strong></span> with a wealth of experience in developing impactful
                            solutions. His expertise lies in designing and implementing large-scale Identification
                            models, utilizing <span style="background-color: #FFFF00;"><strong>AWS</strong></span> and
                            <span style="background-color: #FFFF00;"><strong>GCP</strong></span> infrastructure. Ved
                            excels in creating unified customer views, optimizing ad-targeting by <span
                                style="background-color: #FFFF00;"><strong>35-40%</strong></span>. Proficient in <span
                                style="background-color: #FFFF00;"><strong>Python</strong></span>, <span
                                style="background-color: #FFFF00;"><strong>PySpark</strong></span>, and <span
                                style="background-color: #FFFF00;"><strong>SQL</strong></span>, he leverages
                            cutting-edge technologies for superior results. With a talent for clear communication and a
                            proven track record in presenting complex data, Ved fosters effective collaboration. His
                            leadership and strong <span style="background-color: #FFFF00;"><strong>interpersonal
                                    skills</strong></span>, combined with technical acumen, make him a valuable asset
                            for any data-driven project.</p>

                        </p>
                    </div>
                </div>
            </div>

            <div class="resume">
                <h3>Resume</h3>
                <a href="css/static/resume.pdf" target="_blank">Download Resume</a>
                <iframe src="css/static/resume.pdf" style="width:100%; height:600px;"></iframe>
            </div>


            <div class="call-to-action">
                <h3>Hire Me</h3>
                <p>Whether you're looking for a full-time hire, freelancer, or paid collaboration, I'm open to
                    opportunities.</p>
                <button>Contact Me</button>
            </div>
        </main>
    </div>

    <footer>
        <p>&copy; 2023 Your Company Name</p>
    </footer>

    <script src="script.js"></script>
</body>

</html>